@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --main-bg-color: #f7efe4;
    --1-color: #e09a2f;
    --2-color: #f5ead3;
    --3-color: #eee6dc;
    --4-color: #fbf7f4;
    --alt-color: #ece4db;
    --markdown-color: #d7d7d8;
    --main-txt-color: rgb(69, 63, 59);
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: min(max(12px, 4vw), 26px);
    color: var(--main-txt-color);
}

body {
    background-color: var(--main-bg-color);

}

p {
    font-family: 'Poppins', sans-serif;
    font-size: min(max(12px, 3vw), 20px);
}


footer {
    position: relative;
    top: 30px;
}

.name h1 {
    font-family: 'Alatsi', sans-serif;
    color: var(--main-txt-color);
    font-size: 25px;
}

.menu_side {
    margin: 0;
    position: absolute;
    top: 60px;
    display: block;
    transform: translate(-50%, -90%);
    background-color: var(--2-color);
    z-index: 2;
    left: -40px;
    height: 1200px;
    transition: all 0.4s;
    transform: translateX(-1000px);
    border-radius: 20px;
}

.show_menu {
    display: block;
    transform: translateX(0px);
}

.close {
    display: none;
    flex-direction: column;
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    z-index: 2;
    cursor: pointer;
    margin-left: 20px;
}

.options button h3 {
    font-size: 18px;
    color: var(--2-color);
}

.options button {
    cursor: pointer;
    margin: 0 auto;
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: #e09a2f;
    color: seagreen;
    transition: all 0.5s;
}

.options button:hover {
    background-color: var(--4-color);
}

.options button:hover h3 {
    color: var(--1-color);
}

.options {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 400px;
    margin-top: 20px;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
}

.show {}

.name {
    position: relative;
    right: 20px;
    width: auto;
    order: 1;
    align-items: flex-end;
}

.portfolio_label {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--main-txt-color);
    top: 7px;
    left: 12px;
}

.options_bar {
    display: none;
}

.menu_hamburger {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    order: -1;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    border: none;
    margin-left: 20px;
    z-index: 1;
    flex-direction: column;
    cursor: pointer;
}

main {
    position: relative;
    top: 90px;
}

.about_me {
    display: flex;
    position: relative;
    width: 98%;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.profile_picture {
    background-color: var(--1-color);
    display: flex;
    width: 50vw;
    height: 50vw;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    max-height: 210px;
    max-width: 210px;
}

.profile_image {
    width: 60vw;
    height: 60vw;
    max-height: 250px;
    max-width: 250px;
    position: relative;
    left: 2px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 25px;
    position: relative;
    bottom: 15px;
    order: 1;
    max-width: 400px;
    margin-top: 20px;
}

.cv_btn {
    margin-top: 20px;
    margin-bottom: 10px;
    transition: all 1s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 8vw;
    max-width: 300px;
    max-height: 45px;
    border-radius: 10px;
    background-color: var(--1-color);
    text-align: center;
}

.cv {
    width: 180px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: var(--main-bg-color);
    position: relative;
    text-decoration: none;
}

.tools {
    display: flex;
    flex-direction: column;
    width: 98%;
    align-items: center;
    position: relative;
    bottom: 40px;
    justify-content: center;
    text-align: center;
    margin-top: 39px;
}

.tools_label {
    font-family: 'Poppins', sans-serif;
    font-size: min(max(14px, 3.3vw), 22px);
    color: var(--main-txt-color);
    border-bottom: 4px solid var(--1-color);
    width: auto;
    text-align: center;
    margin-bottom: 14px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: min(max(12px, 3.3vw), 22px);
}

.game_tools {
    display: flex;
    height: max-content;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.group_tools {
    display: flex;
    height: max-content;
    flex-wrap: wrap;
    width: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.tool,
.contact_app {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 15vw;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    max-width: 80px;
    max-height: 80px;
}

.tool img {
    width: 6.5vw;
    height: 6.5vw;
    max-width: 35px;
    max-height: 35px;
}

.contact_app img {
    opacity: 0.3;
    width: 6.5vw;
    height: 6.5vw;
    max-width: 27px;
    max-height: 27px;
}

.contact_app img:hover {
    opacity: 0.9;
}

.tool h4 {
    font-family: 'Poppins', sans-serif;
    font-size: min(max(9px, 2.9vw), 16px);
}

.shadow {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12)
}

.tools h3 {
    margin-bottom: 7px;
    font-size: min(max(14px, 3.1vw), 22px);
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 790px;
    margin: 0 auto;
}

.project_info button.code-example {
    border: none;
    cursor: pointer;
    background-color: var(--4-color);
    border-radius: 10px;
    width: 140px;
    margin: 4px;
}

button h2 {
    font-size: min(max(10px, 3.1vw), 22px);
}

.category_label {
    display: flex;
    color: var(--main-txt-color);
    margin-bottom: 14px;
    position: relative;
    margin-top: 10px;
    width: 100%;
    padding-left: 10px;
    align-items: flex-start;
}

.category_label h2 {
    font-family: 'Poppins', sans-serif;
    font-size: min(max(10px, 5vw), 22px);
    border-bottom: 4px solid var(--1-color);
}

.videogames_projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
body{
    overflow-x: hidden;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--1-color) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--1-color);
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.videogame_project {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.poster {
    width: 39%;
    height: 50vw;
    border-radius: 14px;
    max-width: 230px;
    max-height: 340px;
    overflow: clip;
}

.poster_img {
    transition: all 0.4s;
    padding: 14px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    overflow: clip;
}

.poster_zoom {
    transform: scale(1.1);
}

.project_description {
    transition: all 0.4s;
    width: 100%;
    height: 100%;
    ;
    background-color: rgba(69, 63, 59, 0.25);
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    visibility: hidden;
    transform: scale(0);
}

.blur {
    backdrop-filter: blur(4px);
}

.translate {
    transform: scale(1);
    visibility: visible;
}

.project_info {
    width: 55%;
    font-family: 'Poppins', sans-serif;
    font-size: min(max(12px, 4vw), 20px);
    max-font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project_info p {
    font-size: min(max(12px, 3fvw), 20px);
}

li {
    position: relative;
    right: 20px;
}

.web-project {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: left;
    background-color: var(--2-color);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.web-project picture {
    margin: 30px;
}

.web-project a {
    margin: 20px;
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    color: #f5ead3;
    background-color: #e09a2f;
    text-decoration: none;
    padding: 5px;
}

.web-project picture img {
    height: 50vw;
    width: 80vw;
    max-width: 600px;
    max-height: 340px;
}

.project_btns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.project_btn {
    margin-top: 10px;
    width: 30%;
    height: 40px;
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 10px;
    font-family: 'Alatsi', sans-serif;
    cursor: pointer;
    transition: all 0.4s;
    font-size: min(max(7px, 2.2vw), 15px);
}

.project_btn:hover {
    background-color: var(--1-color);
    width: 32%;
    height: 43px;
}

.project {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    background-color: var(--2-color);
    margin-bottom: 20px;
    border-radius: 20px;
}

.video {
    display: flex;
    width: 95%;
    height: 100%;
    display: none;
}

iframe {
    height: 60vw;
    max-height: 350px;
    width: 89%;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

.art_projects,
.web-projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.web-project img {
    margin: 20px;
    width: 500px;
    border-radius: 10px;
}

.art_project {
    display: flex;
    position: relative;
    width: 90%;
    border-radius: 20px;
    height: 55vw;
    margin-bottom: 20px;
    background-size: cover;
    align-items: end;
    padding: 10px;
    max-width: 900px;
    max-height: 400px;
    justify-content: center;
}

.art_projects h3,
.animation_projects h3 {
    position: relative;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: var(--2-color);
    border-radius: 100px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.animation_projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.contact_info {
    width: 100%;
    height: 40vw;
    max-height: 400px;
    max-width: 960px;
    margin: 0 auto;
    background-color: var(--2-color);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.contact_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact_info h2 {
    font-family: 'Poppins', sans-serif;
}

.whatsapp_btn {
    margin-top: 10px;
    width: 45%;
    height: 36px;
    background-color: var(--1-color);
    border: none;
    border-radius: 7px;
    font-family: 'Alatsi', sans-serif;
    color: var(--2-color);
    cursor: pointer;
    transition: all 0.4s;
}

.whatsapp_btn:hover {
    width: 50%;
    height: 40px;
}

.contact_apps {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_sam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.about_sam h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: min(max(12px, 2.8vw), 18px);
    color: var(--main-txt-color);
    margin: 20px;
    text-align: center;
}

.about_sam h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: min(max(10px, 2.8vw), 16px);
    color: var(--main-txt-color);
    text-align: center;
    margin: 20px;
}

.about_sam p {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: min(max(10px, 3vw), 18px);
    color: var(--main-txt-color);
    width: 80vw;
    text-align: justify;
    margin-bottom: 20px;
    max-width: 700px;
}

.about_sam .center_text {
    text-align: center;
}

.about_sam h2 {
    font-family: 'Poppins', sans-serif;
    font-size: min(max(10px, 5vw), 22px);
    color: var(--main-txt-color);
    border-bottom: 4px solid var(--1-color);
    margin: 20px;
}

.about_sam ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    width: 100vw;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about_sam li {
    align-items: center;
    text-align: center;
    width: 40vw;
    max-width: 340px;
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.cv_btn:hover {
    width: 400px;
    height: 50px;
}

.bg_y {
    color: #de992f;
    font-size: min(max(12px, 5vw), 40px);
}

picture img {
    width: 60vw;
    max-width: 400px;
    border-radius: 20px;
}


.workExperience li {
    max-width: 700px;
    min-width: 300px;
}

a {
    color: #e09a2f;
    font-size: 20px;
}

.center {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: min(max(10px, 2.1vw), 14px);
}

.center-desktop {
    display: none;
}

.line1,
.line2,
.line3 {
    width: 100%;
    height: 8%;
    background-color: var(--main-txt-color);
    border-radius: 20px;
    transition: all 0.3s;
    max-width: 32px;
    max-height: 4px;
}

.line1.toggle_burguer {
    rotate: -35deg;
}

.line2.toggle_burguer {
    display: none;
    background-color: transparent;
}

.line3.toggle_burguer {
    rotate: 35deg;
}

.hide{
    display: none !important;
}

.link-upb{
    color: black;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

}

.fixed-bar{
    position: fixed !important;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding-bottom: 10px;

}


header {
    z-index: 2;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    width: 100% ;
}


.artstation-link{
    width: 44px;
    height: 44px;
    background-color: #141415;
    position: absolute;
    right: 20px;
    bottom: 20px;
    border-radius: 50px;
    transition: all 0.1s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.artstation-link:hover{
    width: 46px;
    height: 46px;

}

.artstation-link img {
    width: 25px;
    height: 25px;
}
.descripted-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    align-content: center;
    justify-items: center;
}
.experience-desc{
    font-size: 12px !important;
}

.workExperience {
    display: flex;
    flex-direction: column;
    background-color:#e0992f1a ;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 25px;
    margin-top: 10px;
    width: 90%;

}
.btn-see, .descripted-item a{
    text-decoration: none;
    font-size: 12px;
    color: var(--1-color);
    border-bottom: #de992f 2px solid;
    cursor: pointer;
}