@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --main-bg-color: #f7efe4;
    --1-color: #e09a2f;
    --2-color: #f5ead3;
    --3-color: #eee6dc;
    --4-color: #fbf7f4;
    --alt-color: #ece4db;
    --markdown-color: #d7d7d8;
    --main-txt-color: #453F3B;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg-color);
}

p {
    font-family: 'Poppins', sans-serif;
       font-size: min(max(12px, 3vw), 20px);
}

header {
    display: flex;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.name h1 {
    font-family: 'Alatsi', sans-serif;
    color: var(--main-txt-color);
    font-size: 25px;


}

.name{
    position: relative;
    right: 20px;
    width: auto;
    order: 1;
    align-items: flex-end;
}

.portfolio_label {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--main-txt-color);
    top: 7px;
    left: 12px;

}

.options_bar {
    display: none;
}



.menu_hamburger {
    width: 20%;
    order: -1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.menu {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.about_me {
    display: flex;
    position: relative;
    width: 98%;
    flex-direction: column;
    align-items: center;

}

.profile_picture {

    background-color: var(--1-color);
    display: flex;
    width: 50vw;
    height: 50vw;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    max-height: 210px;
    max-width:210px ;
}

.profile_image {

    width: 60vw;
    height: 60vw;
    max-height: 250px;
    max-width: 250px ;
    position: relative;

    left: 2px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 20px;
    position: relative;
    bottom: 15px;
    order: 1;
    max-width: 300px;
    margin: 10px;
}

.cv_btn {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--1-color);
    text-align: center;

}

.cv {
    width: 180px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: var(--main-bg-color);
    position: relative;
    text-decoration: none;
}

.tools {
    display: flex;
    flex-direction: column;
    width: 98%;
    align-items: center;
    position: relative;
    bottom: 40px;
    justify-content: center;
    text-align: center;
}

.tools_label {
    font-family: 'Poppins', sans-serif;
    font-size: min(max(14px, 3.3vw), 22px);
    color: var(--main-txt-color);
    border-bottom: 4px solid var(--1-color);
    width: auto;
    text-align: center;
    margin-bottom: 14px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;

}

.game_tools {
    display: flex;
    height: 70px;
    width: auto;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.tool, .contact_app {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 15vw;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    max-width: 100px;
    max-height:100px ;
}

.tool img, .contact_app img {
    width: 10.5vw;
    height: 10.5vw;
    max-width: 65px;
    max-height:65px ;

}

.tool h4 {
    font-family: 'Poppins', sans-serif;
    font-size: min(max(9px, 2.9vw), 18px);
}

.shadow {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)

}

.tools h3 {
    margin-bottom: 7px;
    font-size: min(max(14px, 3.1vw), 22px);
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.category_label {
    display: flex;

    color: var(--main-txt-color);
    margin-bottom: 14px;
    position: relative;
    margin-top: 10px;
    width: 100%;
    padding-left: 10px;
    align-items: flex-start;
}

.category_label h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 5vw;
    border-bottom: 4px solid var(--1-color);

}

.videogames_projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.videogame_project {


    display: flex;

    width: 100%;

    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.poster {

    width: 39%;
    height: 50vw;
    border-radius: 14px;
    overflow: clip;

}

.poster_img {
    transition: all 0.4s;

    padding: 14px;
    width: 100%;
    height: 100%;
    background-image: url("src/imgs/froggo_jump_poster.jpg");
    background-position: center;
    background-size: cover;
    overflow: clip;

}

.poster_zoom {
    transform: scale(1.1);
}


.project_description {
    transition: all 0.4s;

    width: 100%;
    height: 100%;;
    background-color: rgba(69, 63, 59, 0.25);
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    backdrop-filter: blur(4px);
    visibility: hidden;
    transform: scale(0);


}

.translate {
    transform: scale(1);
    visibility: visible;


}

.project_info {

    width: 55%;
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.project_info p {
    font-size: 3vw;
}

li {
    position: relative;
    right: 20px;
}

.project_btns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.project_btn {
    margin-top: 10px;
    width: 45%;
    height: 40px;
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 10px;
    font-family: 'Alatsi', sans-serif;

}

.project {
    display: flex;
    flex-direction: column;
    width: 93%;
    align-items: center;
    background-color: var(--2-color);
    margin-bottom: 20px;
    border-radius: 20px;


}

.video {
    display: flex;

    width: 95%;
    height: 100%;
    display: none;
}

iframe {
    height: 60vw;
    width: 90%;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

.art_projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.art_project {
    display: flex;
    position: relative;
    width: 90%;
    border-radius: 20px;
    height: 55vw;
    background-image: url("src/imgs/mp40Images/mp40_1.jpg");
    margin-bottom: 20px;
    background-size: cover;
    align-items: end;
    padding: 10px;
    justify-content: center;

}

.art_projects h3, .animation_projects h3 {
    position: relative;

}

.dot {
    width: 15px;
    height: 15px;
    background-color: var(--2-color);
    border-radius: 100px;
    margin-left: 5px;
    margin-right: 5px;
}

.animation_projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;

}

.contact_info{
    width: 100%;
    height: 200px;
    background-color:var(--2-color);
    margin-top: 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.contact_info{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}
.contact_info h2{
    font-family: 'Poppins', sans-serif;
}
.whatsapp_btn {
    margin-top: 10px;
    width: 45%;
    height: 30px;
    background-color: var(--1-color);
    border: none;
    border-radius: 7px;
    font-family: 'Alatsi', sans-serif;
    color: var(--2-color);
}

.contact_apps{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}