.name {
    position: relative;
    left: 80px;
    width: auto;
    order: -1;
    align-items: flex-start;
}

.menu_hamburger {
    margin-left: 0;
    margin-right: 40px;
    order: 1;
    width: 60px;
    height: 60px;
}

.portfolio_label {
    left: 12px;
    font-size: 23px;
}

.name h1 {
    font-family: 'Alatsi', sans-serif;
    color: var(--main-txt-color);
    font-size: 33px;
}

header {
    display: flex;
    justify-content: space-between;
}

.options_bar button {
    width: auto;
    height: 40px;
    border: none;
    background-color: transparent;
    color: var(--main-txt-color);
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options button h3 {
    border-bottom: none;
}

button h3 {
    width: auto;
    border-bottom: 4px solid var(--1-color);
}

.tools {
    bottom: 0px;
}

.about_me {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--2-color);
    margin: 0 auto;
    margin-bottom: 20px;
}

.game_tools {
    margin-bottom: 40px;
    margin-top: 10px;
}

.description {
    order: -1;
    width: 50%;
    max-width: 400px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.menu_hamburger {
    right: 20px;
}

.menu_side {
    top: 100px;
}

.line1.toggle_burguer {
    rotate: -45deg;
}

.line2.toggle_burguer {
    display: none;
    background-color: transparent;
}

.line3.toggle_burguer {
    rotate: 45deg;
}